In [1]:
import pandas as pd

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [2]:
import numpy as np

In [3]:
%matplotlib inline
import matplotlib.pyplot as plt

In [4]:
import seaborn as sns

In [5]:
#read in the combined dataset from the first pandas lab

data = pd.read_csv("https://raw.githubusercontent.com/Zipcoder/DataEngineering.Labs.Libraries/master/\
Pandas%20-%20Part%201%20(importing%20data%2C%20summary%20stats)/Combined%20Wine%20Data.csv?\
token=ALOLXOJ73RI2TJV7EOL3DHK6HNRPQ")

In [6]:
#display the top of the df

data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [16]:
#using np.where() add a column named 'sweet_or_not' that is True/False based on whether the row has above average sugar

data['sweet_or_not'] = np.where(data['residual sugar'] >= data['residual sugar'].mean(), True, False)

In [17]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color,sweet_or_not
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,False
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red,False
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red,False
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red,False
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,False

In [18]:
#let's define our qualities up front

quality = 6 # your quality cutoff
sweet = True # sweet or not 
alcohol = data.alcohol.quantile(0.75) #alcojhol cutoff
color = 'red' # color

In [19]:
#create an array of True/False based on your conditions specified above

condition = np.logical_and(data['quality'] >=quality, data['sweet_or_not'] == sweet)
condition = np.logical_and(condition, data['alcohol'] > alcohol)
condition = np.logical_and(condition, data['color'] > color)

In [20]:
condition.value_counts()

False    6212
True      285
Name: count, dtype: int64

In [22]:
#add a column named 'i_like_it' based on if your conditional array above is True/False

data['i_like_it'] = condition

In [ ]:
#let's save just the ones we like to a csv -  we'll use the file in the next lab.

the_ones_i_like = data[data['i_like_it'] == True]