In [1]:
import pandas as pd

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [2]:
%matplotlib inline

In [3]:
import matplotlib.pyplot as plt

In [4]:
import seaborn as sns

In [5]:
data = pd.read_csv("https://raw.githubusercontent.com/Zipcoder/DataEngineering.Labs.Libraries/master/Pandas%20-%20Part%201%20(importing%20data%2C%20summary%20stats)/\
Combined%20Wine%20Data.csv?token=ALOLXOLFRIDBG2N4OHH2NIK6HNDGY")

In [6]:
#show the first few rows of the dataframe to confirm it read in correctly
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [7]:
#set a variable that holds a list of the current column names

columns = data.columns.to_list()
columns

['fixed acidity',
 'volatile acidity',
 'citric acid',
 'residual sugar',
 'chlorides',
 'free sulfur dioxide',
 'total sulfur dioxide',
 'density',
 'pH',
 'sulphates',
 'alcohol',
 'quality',
 'color']

In [8]:
#for simplicity lets first arrange the columns alphabetically
columns.sort()
columns

['alcohol',
 'chlorides',
 'citric acid',
 'color',
 'density',
 'fixed acidity',
 'free sulfur dioxide',
 'pH',
 'quality',
 'residual sugar',
 'sulphates',
 'total sulfur dioxide',
 'volatile acidity']

In [9]:
#move 'color' from it's current location in the list, to the front of the list
columns.insert(0, columns.pop(columns.index('color')))

In [11]:
columns

['color',
 'alcohol',
 'chlorides',
 'citric acid',
 'density',
 'fixed acidity',
 'free sulfur dioxide',
 'pH',
 'quality',
 'residual sugar',
 'sulphates',
 'total sulfur dioxide',
 'volatile acidity']

In [12]:
#create a new dataframe using the freshly ordered columns list you created above
rearranged_data = data[columns]
rearranged_data.head()

,color,alcohol,chlorides,citric acid,density,fixed acidity,free sulfur dioxide,pH,quality,residual sugar,sulphates,total sulfur dioxide,volatile acidity
0,red,9.4,0.076,0.00,0.9978,7.4,11.0,3.51,5,1.9,0.56,34.0,0.70
1,red,9.8,0.098,0.00,0.9968,7.8,25.0,3.20,5,2.6,0.68,67.0,0.88
2,red,9.8,0.092,0.04,0.9970,7.8,15.0,3.26,5,2.3,0.65,54.0,0.76
3,red,9.8,0.075,0.56,0.9980,11.2,17.0,3.16,6,1.9,0.58,60.0,0.28
4,red,9.4,0.076,0.00,0.9978,7.4,11.0,3.51,5,1.9,0.56,34.0,0.70

In [14]:
#this simply shows the original data, re-arranged per our new column order

data[columns].head()

,color,alcohol,chlorides,citric acid,density,fixed acidity,free sulfur dioxide,pH,quality,residual sugar,sulphates,total sulfur dioxide,volatile acidity
0,red,9.4,0.076,0.00,0.9978,7.4,11.0,3.51,5,1.9,0.56,34.0,0.70
1,red,9.8,0.098,0.00,0.9968,7.8,25.0,3.20,5,2.6,0.68,67.0,0.88
2,red,9.8,0.092,0.04,0.9970,7.8,15.0,3.26,5,2.3,0.65,54.0,0.76
3,red,9.8,0.075,0.56,0.9980,11.2,17.0,3.16,6,1.9,0.58,60.0,0.28
4,red,9.4,0.076,0.00,0.9978,7.4,11.0,3.51,5,1.9,0.56,34.0,0.70

In [15]:
#if we look at the head of the original dataframe, you'll see nothing has changed

data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [16]:
#display the average 'residual sugar' across the whole data set

rearranged_data['residual sugar'].mean()

5.443235339387409

In [17]:
#now create a new df of wines with higher sweetness than the average abov

high_sugar_wines = rearranged_data[rearranged_data['residual sugar'] > rearranged_data['residual sugar'].mean()]

In [21]:
#display the number of wines of each color in the new dataset

high_sugar_wines.color.value_counts()

color
white    2383
red        74
Name: count, dtype: int64

In [22]:
#remove white wines from the high sweetness data set

high_sugar_wines = high_sugar_wines[high_sugar_wines.color !='white']

In [23]:
#take a look at the first few rows

high_sugar_wines.head()

,color,alcohol,chlorides,citric acid,density,fixed acidity,free sulfur dioxide,pH,quality,residual sugar,sulphates,total sulfur dioxide,volatile acidity
9,red,10.5,0.071,0.36,0.9978,7.5,17.0,3.35,5,6.1,0.80,102.0,0.500
11,red,10.5,0.071,0.36,0.9978,7.5,17.0,3.35,5,6.1,0.80,102.0,0.500
33,red,9.4,0.073,0.12,0.9993,6.9,40.0,3.45,6,10.7,0.52,83.0,0.605
35,red,9.6,0.086,0.00,0.9986,7.8,5.0,3.40,6,5.5,0.55,18.0,0.645
39,red,10.5,0.074,0.36,0.9978,7.3,12.0,3.33,5,5.9,0.83,87.0,0.450

In [ ]:
#sort the high sweetness wines on the residual sugar column

high_sugar_wines.sort_values(by='residual sugar', ascending=False)